[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bestSDP"]
	path = bestSDP
	url = https://github.com/cran/bestSDP
[submodule "wktmo"]
	path = wktmo
	url = https://github.com/leoly2017/wktmo
